<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Mini-Wp Wordpress</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- jQuery CDN  -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="https://blog.hacktiv8.com/content/images/2018/03/test.png" width="50" height="50"
                class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">My Sites <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reader</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="wrapper">

        <!-- Sidebar -->
        <nav id="sidebar">   

            <div id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>

            <div class="sidebar-header">
                <h3>Mini Wordpress</h3>
                <strong>MW</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <!-- <i class="fas fa-home">Home</i></a> -->
                        <a href="">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                </li>
            </ul>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </nav>

        <!-- Page Content -->
        <section class="about" id="app">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-control">
                            <label for="title">Title</label>
                            <input v-model="title" type="text" name="title" id="title" class="formtitle" autocomplete="off" required="true">
                        </div>
                        <textarea v-model="content" name="content" id="content" cols="30" rows="10" style="resize: none" required="true"></textarea>
                        <input v-model="created_at" type="date" name="created_at" id="created_at" required="true"> <br>
                        <button type="submit" class="btn btn-primary" v-on:click="addNewArticle" >Add Article</button>
                    </div>
                    <div class="col-lg-6">
                       <div class="kotak" >
                           <div class="kotak2">
                               <p v-for="list in articles "><b>{{list.title }}</b> {{list.created_at}} <br> {{list.content}} <br> <br></p>
                           </div>
                       </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    const app = new Vue ({
        el: "#app",
        data: {
            title: '',
            content: '',
            created_at: '',
            articles: []
        },
        created() {
            axios
                .get('http://localhost:3000/mini-wp/article')
                .then((response)=>{
                    for (let i = 0; i < response.data.length; i++ ) {
                        this.articles.push(response.data[i])
                    }
                })
                .catch(err=>{
                    console.log(err)
                })
               
            
        },
        methods: {
            addNewArticle() {
                // console.log('masuk sini')
                if (!this.title && !this.content && !this.created_at) {
                    alert('Input bro')
                } else {
                    this.articles.push({
                        id: this.articles.length + 1,
                        title: this.title,
                        content: this.content,
                        created_at: this.created_at
                    })
                    
                    axios
                        .post('http://localhost:3000/mini-wp/article/create', {
                            id: this.articles.length + 1,
                            title: this.title,
                            content: this.content,
                            created_at: this.created_at
                        })
                        .then(data=>{
                            
                        })
                        .catch(err=>{
                            console.log(err)
                        })
                }
            },
            updateArticle(){
                axios
                    .put('http://localhost:3000/mini-wp/article/edit', {
                        title: this.title,
                        content: this.content,
                        created_at: this.created_at
                    })
                    .then(data=>{

                    })
                    .catch(err=>{
                        console.log(err)
                    })
            },
            deleteArticle(){
                axios.delete('http://localhost:3000/mini-wp/article/delete')
                .then(data=>{

                })
                .catch(err=>{
                    console.log(err)
                })
            }
        }
    })
    </script>

</body>

</html>